<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".help"), help_path %></li>
      <li><%= link_to t(".news"), Settings.links.rails_tutorial.home_page %></li>
      <li><%= link_to t(".en"), locale: :en %></li>
      <li><%= link_to t(".vi"), locale: :vi %></li>
      <li> © 2020 Copyright</li>
    </ul>
  </nav>
</footer>
